<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>New Customer</title>
</head>
<main layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-sm border-0 rounded-lg">
                    <div class="card-header text-center">
                        <h3 class="font-weight-light">Purchase Information</h3>
                    </div>
                    <div class="card-body">
                        <form role="form" method="post" th:action="@{/purchases/new}" th:object="${purchase}">
                            <div class="mb-3">
                                <label for="customerName" class="form-label">Customer Name</label>
                                <select class="form-select" id="customerName" name="customer.id" th:field="*{customer.id}" required>
                                    <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
                                </select>
                                <p th:if="${#fields.hasErrors('customerId')}" class="text-danger" th:errors="*{customerId}"></p>
                            </div>
                            <div class="mb-3">
                                <label for="lessonCount" class="form-label">Lesson Count</label>
                                <input type="number" class="form-control" id="lessonCount" name="lessonCount" th:field="*{lessonCount}" min="1" required>
                                <p th:if="${#fields.hasErrors('lessonCount')}" class="text-danger" th:errors="*{lessonCount}"></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Is Payment Complete?</label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="paymentCompleteYes" name="paymentComplete" value="true" th:field="*{paymentComplete}">
                                    <label class="form-check-label" for="paymentCompleteYes">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="paymentCompleteNo" name="paymentComplete" value="false" th:field="*{paymentComplete}">
                                    <label class="form-check-label" for="paymentCompleteNo">No</label>
                                </div>
                                <p th:if="${#fields.hasErrors('paymentComplete')}" class="text-danger" th:errors="*{paymentComplete}"></p>
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" th:field="*{description}"></textarea>
                                <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</html>